h1 {
text-align: center;
color:blue;
font-weight: bold;
}
hr.dotted {
    height:8px;
    border: 1px dotted gray;
}
.contact_info {
    text-align: center;
    font-weight: bold;
    list-style: none;
}