h1 {
text-align: center;
color:blue;
font-weight: bold;
}
hr.dotted {
    height:4px;
    border: 1px dotted gray;
}
ul.a {
    text-align: center;
    font-weight: bold;
    list-style-type: none;
}
ul.b {
    text-align: center;
    font-weight: bold;
    list-style-type: none;
}
ul.c {
    text-align: center;
    font-weight: bold;
    list-style-type: none;
}